.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icon {
    font-size: 24px;
    margin: 0 10px;
    color: white;
    transition: transform 0.2s ease-in-out;
}

.footer-icon:hover {
    transform: scale(1.2);
}
