#titulo{
    font-weight: bold;
    font-size: 45.5px;
    text-align: center;
    margin-bottom: 35px;
}

.bottonA{
    width: 350px;
    height: 225px;
    background-color: transparent !important;
    border-color: black;
    padding: 14.5px;
    margin-right: 35.5px !important;
}

.imagenA{
    width: 100% !important;
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;
    height: 78.5% !important;
    padding: 3.5px;
}





.seleccione{
    font-size: 24.5px !important;
    text-align: center !important;
    font-style: italic;
    line-height: 24.5px;
    margin-top: 34.5px
}


