.navbar-red {
  background-color: #EB2127;
  position: fixed;
  /*   justify-content: flex-start; */
  /*   padding: 25px; */
}

nav ul {
  display: flex;
  flex-direction: row; /* Disposición horizontal */
  align-items: center; /* Centrado vertical */
  justify-content: center; /* Centrado horizontal */
  height: 100%; /* Ocupa el 100% de la altura del nav */
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  /* Color del texto en blanco */
  font-size: 21.5px;
}

header {
  display: flex;
  align-items: center;
  /* Centrar verticalmente */
  padding: 10px 20px;
  background-color: #1A1A1A;
  /* Color de fondo del encabezado */
}

header img {
  width: 125px;
  /* Ajusta el ancho del logo según tu diseño */
  height: 65.75px;
  /* Ajusta la altura del logo según tu diseño */
  margin-right: 29.5px;
}

.header-content {
  display: flex;
  align-items: center;
}





.cart-icon {
  color: white;
  cursor: pointer;
  margin-left: auto;
  position: relative;
}













nav a.active {
  text-decoration: underline;
}



/* Estilos para el menú responsive */
.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 20px;
  margin-left: auto;
}




.carrito-text {
  display: none;
}

nav.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: green;
  width: 100%;
  z-index: 1;
}



.cart-count {
  position: absolute;
  top: -10px; /* Ajusta la posición vertical */
  right: -10px; /* Ajusta la posición horizontal */
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px; /* Ajusta el espaciado interno */
  font-size: 14px;
}


@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .carrito-text {
    display: block;
  }

  

  .cart-icon {
    display: none;
  }

  nav {
    display: none;
  }

  nav.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    /* Cambio de '20px' a '0' para ubicar el menú en el lado derecho */
    background-color: #F8574D;
    width: 100%;
    z-index: 1;
    width: 95%;
  }

  nav ul {
    flex-direction: column;
    text-align: center;
  }

  nav li {
    margin: 10px 0;
  }
}