#titulo{
    font-weight: bold;
    font-size: 45.5px;
    text-align: center;
    margin-bottom: 35px;
}

.bottonA{
    width: 350px;
    height: 225px;
    background-color: transparent !important;
    border-color: black;
    padding: 14.5px;
    margin-right: 35.5px !important;
}

.imagenA{
    width: 100%;
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;
    height: 82.5%;
    padding: 3.5px;
}



.bottonB{
    width: 254.5px;
    height: 225px;
    background-color: transparent !important;
    border-color: black;
    padding: 14.5px;
    margin-right: 35.5px !important;
}

.imagenB{
    width: 225px;
    height: 172px;
}





.loading{
    font-size: 24.5px;
    text-align: center;
}



.loadingImage{
    width: 275px;
    text-align: center;
    margin-left: auto;
}



.seleccione{
    font-size: 19.5px;
    text-align: left;
    font-style: italic;
    line-height: 24.5px;
}




.seleccioneMujeres{
    font-size: 19.5px;
    text-align: left;
    font-style: italic;
    line-height: 24.5px;
}